@font-face {
    font-family: iranSans;
    src: url("../fonts/woff/DanaFaNum-Medium.woff");
}
:root{
    --main-color: #758bfd;
    --main-radius: 40px;

    
}
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iranSans;
}
body{
    background-color: rgba(241, 242, 246, 0.5)

}
main{
    height: 100vh;
}
main,.header-mobile{
    transition: 0.3s;
}

header li{
    list-style: none;
}

.item-nav{
    transition: 0.3s;
    position: relative;
    cursor: pointer;
}
.item-nav::before{
    transition: 0.3s ease-in-out;
    content: "";
    position: absolute;
    height: 3px; 
    border-radius: 20px;
    width: 0; 
    bottom: -10px;
    background-color: var(--main-color);
}
.item-nav:hover::before{
    width: 100%;
}
.item-nav:hover{
    color: var(--main-color);

}
header .active{
    color: var(--main-color);
}
header .active::before{
    width: 100%;

}
.login{transition: 0.3s;}
.login:hover{
    background-color: black;
}

.book1,.book2,.book3,.book4,.book5{
         border-radius: var(--main-radius);
        background-size: cover;

}
.book1{
    padding: 40px 50px 425px;
    background-image: url("../img/book1.png"),linear-gradient(90deg,#105372,#105372);


}
.book2{
         padding: 40px 50px 130px;
        background-image: url("../img/book2.png"),linear-gradient(90deg,#26292a,#26292a);
}
.book3{
         padding:40px 50px 130px;
         background-repeat: no-repeat;
         background-position: right center;
        background-image: url("../img/book3.png"),linear-gradient(90deg,#ff6600,#ff6600);
}
.book4{    background-repeat: no-repeat;
    background-position: right center;
         padding: 40px 50px 140px;
        background-image: url("../img/book4.png"),linear-gradient(90deg,var(--main-color),var(--main-color));
}
.book5{
    color: #353535;
         padding: 40px 50px 140px;
        background-image: url("../img/book5.png"),linear-gradient(90deg,#f1f2f6,#f1f2f6);
}
.parent .hover,.p-1{
    transition: 0.5s;
}
.parent .hover:hover{
    color: var(--main-color);;
    background-color: white;
}
.parent .hover:hover .p-1{
    background-color: var(--main-color);;
}
.btnMahsol{
    transition: 0.3s;
}
.btnMahsol:hover{
    background-color: #000;
}
#scrollTop{

    bottom: -70px;
    left: 30px;
    z-index: 5550;
    transition: 0.5s;
}
.allProduct{
    transition: 0.3s;
}
#scrollTop:hover,.allProduct:hover{
    background-color: #000;
}

.hoverLeft{
    top: 50px;
    transition: 0.3s;
    overflow: hidden;
    left: 5px;
}
@media (min-width:1024px) {
    .hoverLeft{
        left: -50px;
    } 
    .item-mahsol:hover .hoverLeft{
        left: 5px;
    }
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
   
    object-fit: cover;
  }
  .mySwiper1 .swiper-slide{
    background: transparent
  }
  .swiper-button-prev::after,.swiper-button-next::after{
    color: white;
font-size: 25px !important;
}
  .swiper-button-prev,.swiper-button-next{
    transform: rotate(180deg);
    background-color: var(--main-color);
    padding: 30px;
    border-radius: 20px;
  }
  .percent{
    border-radius: var(--main-radius);
    background-size: cover;
    background-image: linear-gradient(90deg,rgba(32,48,129,.8),rgba(32,48,129,.8)),url("../img/keetab.jpg");
  }
  .menu-mobile{
    z-index: 55555; background-image: url("../img/bg.png"), linear-gradient(90deg, #758bfd, #758bfd);transition: 0.5s;left: -350px;
}
.showMenu{
    left: 0;
}
.showMain{
    background: #ccc;
    filter: brightness(0.5);
}

.persent {
    transition: 0.3s;
}
.persent:hover{
    opacity: 0.5;
}
.ozviat{
    background-position: center center;
    border-radius: var(--main-radius);
    background-image: url("../img/bg.png"),linear-gradient(90deg,#758bfd,#758bfd); 
       background-size: cover;

}
.footer{
    border-radius: var(--main-radius);
    margin-top: -120px;
}
.footer .leading-8 div{
    cursor: pointer;
    line-height: 50px;

}
.end-footer{
    border-top-right-radius: var(--main-radius) ;
    border-top-left-radius:  var(--main-radius);
    margin-top: -50px;
}

.load{
  padding: 5px;
  position:absolute;
inset: 0;
margin: auto;
  transform:rotate(228deg);
  /*change these sizes to fit into your project*/
  width:50px;
  height:50px;
  
}
.load hr{
  border:0;
  margin:0;
  width:80%;
  height:80%;
  position:absolute;
  border-radius:50%;
  animation:spin 2s ease infinite;
}

.load :first-child{background:#3d23ce;animation-delay:-1.5s}
.load :nth-child(2){background:#4d4fc4;animation-delay:-1s}
.load :nth-child(3){background:#9aa0f7;animation-delay:-0.5s}
.load :last-child{background:#c1e0ec}

@keyframes spin{
  0%,100%{transform:translateX(200%)}
  25%{transform:translateY(200%)}
  50%{transform:translateX(0)}
  75%{transform:translateY(0)}
}
.panel div{
    transition: 0.3s;
    /* box-shadow: 5px 5px 20px 5px #737373; */
    border-radius: 20px;

}
.panel div:hover{
    box-shadow: 0px 0px 20px 0px #737373;
}


/* Page User */

.panel div{
    transition: 0.3s;
    /* box-shadow: 5px 5px 20px 5px #fff; */
    border-radius: 20px;

}
.panel div:hover{
    box-shadow: 0px 0px 20px 0px #fff;
}
.uploadDiv{
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/icons8-change-50.png");
}

/* ///////////// New Tiket */
.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    & > div {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: white;
    }
    header {
      font-weight: bold;
    }
    h1 {
      font-size: 150%;
      margin: 0 0 15px;
    }
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
  
  /* Demo Styles */
  .modalTiket{
    z-index: 1;
    transition: 0.5s;
    top: -100%;transform: translate(0,-60%);
  } 
  .active{
    top: 0%;transform: translate(0,0%);

  }
  
  .divAdminChat{
    margin: 20px 30px 0 0;
    justify-content: end;
    display: flex; 
  }
  .divAdminChat  .first{
    border-radius: 20px;
    border-bottom-left-radius: 0;
  }
  .divUserChat  .first{
    border-radius: 20px;
    border-bottom-right-radius: 0;
  }

  .divUserChat{
    margin: 20px 0 0 30px;

    justify-content: start;
    display: flex; 
  }