@font-face {
    font-family: iranSans;
    src: url("../fonts/woff/DanaFaNum-Medium.woff");
}

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iranSans;
}
.panel div{
    transition: 0.3s;
    /* box-shadow: 5px 5px 20px 5px #fff; */
    border-radius: 20px;

}
.panel div:hover{
    box-shadow: 0px 0px 20px 0px #fff;
}